<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:replace="android:maxSdkVersion" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/original"
        android:label="@string/app_name"
        android:roundIcon="@drawable/original"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduTech"
        tools:targetApi="31">
        <activity
            android:name="com.boss.livesession.LiveMeeting"
            android:exported="false" />
        <activity
            android:name="com.boss.courses.MedicalEntrance"
            android:exported="false" />
        <activity
            android:name="com.boss.pdfview.PdfView"
            android:exported="false" />
        <activity
            android:name="com.courseitem.MockTest"
            android:exported="false" />
        <activity
            android:name="com.boss.chat.Chat"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.EduTech"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.boss.util.VideoViewer"
            android:configChanges="orientation"
            android:exported="false" />
        <activity
            android:name="com.courseitem.pdfActivity"
            android:exported="false" />
        <activity
            android:name="com.pspdfkit.ui.PdfActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.courseitem.videoActivity"
            android:exported="false" />
        <activity
            android:name="com.boss.courses.Engineering_Entrance"
            android:exported="false" />
        <activity
            android:name="com.boss.allBboutLogin.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.boss.allBboutLogin.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>